/* selectores */

#selectorId {
    color: #8c54fb;
}

.selectorClase {
    color: red;
}

.selectorClaseP {
    font-size: 2rem;
    color: blue;
    font-weight: 800;
}

.selectorClaseH5 {
    color: chartreuse;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h4 {
    color: aqua; 
}


.caja {
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 1rem;
    background-color: #6b7280;
    margin-bottom: 20px;

}

.caja-mediana {
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 1rem;
    background-color: #e11d48;
    margin-bottom: 20px;
    font-size: 10px;
}

.caja-grande {
    width: 300px;
    height: 300px;
    text-align: center;
    border-radius: 1rem;
    background-color: #8c54fb;
}

/* unidades relativas */

.em {
    font-size: 2em;
}

.rem {
    font-size: 2rem;
}

.porcentaje {
    width: 50%;
    height: 50%;
    background-color: #8c54fb;
}

.vh {
    height: 10vh;
    background-color: #8c54fb;
}

.vw {
    height: 10vw;
    background-color: #8c54fb;
}

.bg-color {
    background-color: crimson;
}

.bg-img {
    background-image: url('./img/bg-pattern.jpg');
    background-position: center;
    background-size: cover;
}

.bg-repeat {
    background-image: url('./img/bg-repeat.png');
    background-repeat: repeat;
}

.bg-attach {
    background-image: url('./img/bg-pattern.jpg');
    background-attachment: fixed;
}

.bg-position {
    background-image: url('./img/bg-pattern.jpg');
    background-size: contain;
    background-position: center;

}

.bg-size {
    background-image: url('./img/messi.webp');
    background-position: center;
    background-size: cover;
}

.color p {
    margin: 0;
    color: crimson;
}

/* Box shadow */
.caja-shadow{
    background: #8c54fb;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.offsetXY {
    box-shadow: 10px 10px;
}

.blurRadius {
    box-shadow: 10px 10px 5px;
}

.spreadRadius {
    box-shadow: 10px 10px 5px 5px;
}

.color {
    box-shadow: 10px 10px 5px 5px rgba(170, 144, 144, 0.75);
}

.inset {
    box-shadow: inset 10px 10px 5px 5px rgba(170, 144, 144, 0.75);
}

/* Tipografias */

.font-fa p {
    font-family: 'Indie Flower';
}

.font-we p {
    font-family: 'Indie Flower';
    font-weight: bold;
}

.font-style {
    font-family: 'Indie Flower';
    font-style: italic;
}

.font-size {
    font-family: 'Indie Flower';
    font-size: 2rem;
}

.letter-spacing {
    letter-spacing: 10px;
}

.word-spacing {
    word-spacing: 10px;
}

.line-height {
    line-height: 55px;
}

.text-align {
    text-align: end;
}

.text-transform {
    text-transform: uppercase;
}

.text-decoration {
    text-decoration: overline;
}

/* Listas */

.list-position {
    list-style-type: none;
    list-style-position: outside;
}

.list-img {
    list-style-image: url('./img/messi-list-img.jpg');
    list-style-position: inside;
}
